REDISCLOUD_URL=https://user:<yourRedisLabPassword>@redis-18865.c85.us-east-1-2.ec2.cloud.redislabs.com:18865
FINNHUB_PASS=<yourFinnhubPassword>

USE_SYMBOLS_FROM_CONFIG=true
REQUIRED_SYMBOLS=AAPL, MSFT, NKE, NVDA, INTC, TSLA, GM
NARROW_SYMBOL_LIST=false
INDEX_FIRST_SYMBOL=10
INDEX_LAST_SYMBOL=12

NUMBER_OF_REQUESTS_AT_A_TIME=1